<div ng-controller="PartiesListCtrl">
    <form>
        <label for="newPartyName">Name</label>
        <input id="newPartyName" ng-model="newParty.name">
        <label for="newPartyDesc">Description</label>
        <input id="newPartyDesc" ng-model="newParty.description">
        <button ng-click="parties.save(newParty); newParty='';">Add</button>
    </form>
    <ul>
        <li ng-repeat="party in parties">
            {{party.name}}
            <p>{{party.description}}</p>
            <button ng-click="remove(party)">X</button>
        </li>
    </ul>
    <p>Total number of parties: {{parties.length}}</p>
    <button ng-click="removeAll()">remove all</button>
</div>